.container-payment {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  border: 1px;
  border: solid 2.5px lightgray;
  border-radius: 10px;
}

/* Meida Query */
@media (min-width: 1400px) {
  .container-payment {
    max-width: 600px;
  }
}
@media (min-width: 1262px) {
  .container-payment {
    max-width: 600px;
  }
}
@media (max-width: 425px) {
  .container-payment {
    border: none !important;
  }
}
